<p>hi</p>

<p>when you click the button below, we'll create you an account number.</p>

<p>note this account number somewhere. you'll need it to access your list.</p>

<p>let's do this:</p>

<p><%= button_to "Generate my account", '/signup', method: :post %></p>
