<div class='wrapper'>
  <h1>Your account</h1>

  <div class="card">
    <div class="card-title">Account number</div>
    <p>
      This is your account number. Use it to log in to Freshreader. Store it somewhere safe.<br>
    </p>

    <code class="account-number">
      <%= @user.pretty_account_number %>
    </code>

    <p>
      That's right. No username, no password. Simple as that.
    </p>
  </div>

  <div class="card">
    <div class="card-title">How to save content to your list</div>

    <p>Use one of the following methods to save content to your Freshreader list:</p>
    <ul>
      <li>
        <span style="font-weight: bold;">Browser extension</span>: <a href="https://addons.mozilla.org/en/firefox/addon/save-to-freshreader/" target="_blank">Mozilla Firefox</a> and <a href="https://chrome.google.com/webstore/detail/save-to-freshreader/bdmbfhckhooihghmnhaomilcamhmpoec" target="_blank">Google Chrome</a>
      </li>
      <li>
        <span style="font-weight: bold;">Bookmarklet</span>: Drag this link to your bookmarks bar: <a style="font-weight: bold" onclick="return false;" class="internal-link" href="javascript:location.href='https://freshreader.app/save?url='+encodeURIComponent(location.href)">Save to Freshreader</a>
      </li>
      <li>
        <span style="font-weight: bold;">Android app</span>: <a target="_blank" href="https://github.com/freshreader/android/releases/download/v1.0.0/freshreader-v1.0.0.apk">freshreader-v1.0.0.apk</a>
      </li>
      <li>
        <span style="font-weight: bold;">iOS app</span>: not ready yet, stay tuned!
      </li>
    </ul>

    <p>
      Now that you know how to save content, let's take a look at your reading list.
    </p>
    <p>
      Oh, and before you go: <b>it's okay not to read everything</b>. 🍃
    </p>

    <p>
      <%= link_to "View my reading list", '/articles', class: "btn btn-success internal-link" %>
    </p>
  </div>

  <div class="card">
    <div class="card-title">Danger zone</div>
    <p>
      Not interested in Freshreader anymore? That's okay! I hope you enjoyed your time here.
    </p>

    <p>
      This button deletes all data associated with your Freshreader account, forever.
    </p>

    <%= button_to 'Delete my account', :account, method: :delete, class: 'btn-danger internal-link', onclick: "return confirm('Are you sure you want to delete your Freshreader account?');"%>
  </div>
</div>
