.flash {
  padding: 0.4em 0.8em;
  background: #e8e8e8;
  color: #575757;
  border-radius: 3px;
  display: inline-block;
}

.flash_error {
  background: #ffb6b6;
  color: #930d0d;
}

.flash_warning {
  background: #fff2d9;
  color: #6f5917;
}

.flash_notice {
  background: #d9edff;
  color: #415b77;
}

.flash_success {
  background: hsl(129.6, 67%, 70.6%);
  color: hsl(129.6, 67%, 22.6%);
}
