$color-primary: black;
$color-bg: white;
$color-text: #333333;
$color-border: #cccccc;

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;

$color-text-light: lighten($color-text, 30);
$focus-color: #ffe8bc;
$hover-color: #fffaf1;

* {
  box-sizing: border-box;
  transition: background-color 100ms, color 100ms, border-color 100ms !important;
}

*:before, *:after {
  box-sizing: border-box;
}


html,
body {
 height: 100%;
 position: relative;
}

#main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 8em;
}

body {
  color: $color-text;
  font-family: $font-family-sans-serif;
  line-height: 1.6;
  background: $color-bg;
  @media (min-width: 768px) {
    font-size: 1.3em;
  }
  @media (max-width: 767px) {
    font-size: 1em;
  }
  padding: 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

.x-y-center {
  display: flex;
  align-items: center;
  min-height: 75vh;
}

.wrapper {
  max-width: 55rem;
  margin: 0 auto;
}

.nav {
  padding: 0;
}

#flashes-wrapper {
  margin-bottom: 4vh;
}

.account-number {
  font-family: $font-family-monospace;
  font-size: 1.2em;
  padding: 0.5em 1em;
  background: #ffecd6;
  border-radius: 3px;
  border: 3px dashed #dfc9af;
  font-weight: bold;
  margin: 1em 0;
  color: #533d23;
}

.nav-link{
  font-size: 0.8em;
  margin: 0 0.5em 0 0;
}

a {
  text-decoration: none;

  border-bottom: 1px solid $color-border;

  @media (prefers-color-scheme: dark) {
    color: #eeeeee;
    border-color: #505050;
  }

  color: $color-primary;
  &:hover {
    color: black;
    background-color: $hover-color;
    @media (prefers-color-scheme: dark) {
      background-color: #303030;
      color: white;
    }
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after {
    content: "";
  }
}

*:focus {
  background: $focus-color !important;
  color: black !important;
  border-color: black !important;

  @media (prefers-color-scheme: dark) {
    background-color: lighten(#d9aa3b, 10) !important;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

input[type="text"] {
  border: 1px solid $color-border;
  padding: 0.5em;
  margin: 0 -1px 0 0;
  background-color: white;

  @media (prefers-color-scheme: dark) {
    background-color: #404040;
    border: 1px solid transparent;
    color: #aaaaaa;
  }
}

#url-input-wrapper {
  margin: 1vh 0;
}

.url-input-label {
  font-size: 0.8em;
  color: #787878;
}

#url-input {
  margin-right: -1px;
  border-radius: 3px 0 0px 3px;
}

hr {
  border: none;
  height: 1px;
  background: $color-border;
  margin: 2em 0;
}

.btn,
button,
input[type="submit"] {
  font-weight: bold;
  background-color: $color-primary;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  &:hover {
    background-color: darken($color-primary, 5);
    color: white;
  }
  &:not(.no-margin) {
    margin: 0 0.5em 0.5em 0;
  }
  &.btn-danger {
    color: white;
    background: #930d0d;
    border-color: lighten(#930d0d, 3);
    &:hover {
      background-color: darken(#930d0d, 5);
      color: white;
    }
  }
  &.btn-url-save {
    border-radius: 0 3px 3px 0;
  }
  &.btn-success {
    $btn-success-color: hsl(129.9, 53.4%, 28.8%);
    background: $btn-success-color;
    border-color: lighten($btn-success-color, 3);
    &:hover {
      background-color: darken($btn-success-color, 5);
      color: white;
    }
  }
}

.btn, button, input {
  padding: 0.5em 1em;
}

.btn-large {
  font-size: 1.3em;
}

.check {
  text-decoration: none;
  border: none;
  font-size: 1.2em;
  padding: 0.4em;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 0.5em;
}

.articles-wrapper {
  margin: 2em 0;
}

.article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid lighten($color-border, 8);
}

.article-timestamp {
  font-size: 0.8em;
  color: $color-text-light;
}

#above-the-fold {
  min-height: 70vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#hero-image {
  max-height: 80vh;
  max-width: 80%;
}

footer {
  font-size: 0.8em;
  color: $color-text-light;
  padding: 1.5em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.lead {
  font-size: 1.3em;
  margin: 0;
}

#nav-logo {
  width: 1.4em;
  position: relative;
  top: 0.3em;
}

code {
  font-family: $font-family-monospace;
  padding: 0.2em;
  background: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000000;
    color: #cccccc;
  }

  code {
    background: #303030;
  }

  .btn,
  button,
  input[type="submit"] {
    background: #303030;
    border: 1px solid #404040;
  }

  .article {
    border-color: #404040;
  }

  hr {
    background: #404040;
  }
}
