$color-primary: black;
$color-bg: #f8f9f9;
$color-text: #333333;
$color-border: #dddddd;

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;

$color-text-light: lighten($color-text, 30);
$focus-color: #ffe8bc;
$hover-color: #fffaf1;

* {
  box-sizing: border-box;
  transition: background-color 100ms, color 100ms, border-color 100ms, opacity 100ms !important;
}

*:before, *:after {
  box-sizing: border-box;
}

html,
body {
 height: 100%;
 position: relative;
}

#main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 12em;
}

.active {
  font-weight: bold;
}

body {
  color: $color-text;
  font-family: $font-family-sans-serif;
  line-height: 1.6;
  background: $color-bg;
  @media (min-width: 768px) {
    font-size: 1.3em;
  }
  @media (max-width: 767px) {
    font-size: 1em;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

.x-y-center {
  display: flex;
  align-items: center;
  min-height: 75vh;
}

.wrapper {
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.nav {
  padding: 0;
}

#flashes-wrapper {
  margin-bottom: 4vh;
}

.account-number {
  font-family: $font-family-monospace;
  font-size: 1.2em;
  padding: 0.5em 1em;
  background: #ffecd6;
  border-radius: 3px;
  border: 3px dashed #dfc9af;
  font-weight: bold;
  margin: 1em 0;
  color: #533d23;
}

.nav-link{
  font-size: 0.8em;
  margin: 0 1.2em 0 0;
  &:last-of-type {
    margin: 0;
  }
}

a {
  text-decoration: none;

  &:not(.no-border-bottom) {
    border-bottom: 1px solid $color-border;
    // @media (prefers-color-scheme: dark) {
    //   border-color: #303030;
    // }
  }

  // @media (prefers-color-scheme: dark) {
  //   color: #eeeeee;
  // }

  color: $color-primary;
  &:hover {
    color: black;
    background-color: $hover-color;
    // @media (prefers-color-scheme: dark) {
    //   background-color: #303030;
    //   color: white;
    // }
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after {
    content: "";
  }
}

*:focus {
  background: $focus-color !important;
  color: black !important;
  border-color: black !important;

  // @media (prefers-color-scheme: dark) {
  //   background-color: lighten(#d9aa3b, 10) !important;
  // }
}

.flex {
  display: flex;
  align-items: baseline;
}

.flex-1 {
  flex: 1;
}

.how-it-works-box {
  font-size: 0.9em;
  &:nth-child(2) {
    padding: 0em 2em;
  }
}

input[type="text"] {
  border: 1px solid $color-border;
  padding: 0.5em;
  margin: 0 -1px 0 0;
  background-color: white;

  // @media (prefers-color-scheme: dark) {
  //   background-color: #0d0d0d;
  //   border: 1px solid #4f4f4f;
  //   color: #aaaaaa;
  // }
}

#url-input-wrapper {
  margin: 1vh 0;
}

.url-input-label {
  font-size: 0.8em;
  color: #787878;
}

#url-input {
  margin-right: -1px;
  border-radius: 3px 0 0px 3px;
}

hr {
  border: none;
  height: 1px;
  background: $color-border;
  margin: 2em 0;
}

.btn,
button,
input[type="submit"] {
  display: inline-block;
  $btn-bg-color: #eaeaea;
  background: $btn-bg-color;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  border-color: $color-border;
  &:hover {
    background-color: darken($btn-bg-color, 5);
  }

  color: #222;
  cursor: pointer;
  border-radius: 3px;

  &:not(.no-margin) {
    margin: 0 0.5em 0.5em 0;
  }

  &.btn-danger {
    color: white;
    background: #930d0d;
    border-color: transparent;
    padding: 0.5em 1em;
    &:hover {
      background-color: darken(#930d0d, 5);
      color: white;
    }
  }
  &.btn-input-group {
    border-radius: 0 3px 3px 0;
    padding: 0.5em 1em;
  }

  &.btn-success {
    color: white;
    $btn-success-bg-color: #2d843c;
    background: $btn-success-bg-color;
    border-color: transparent;
    &:hover {
      background-color: darken($btn-success-bg-color, 5);
      color: white;
    }
  }

  &.btn-full-width {
    width: 100%;
  }
}

.btn, button, input {
  padding: 0.3em 1em;
}

.btn-large {
  font-size: 1.3em;
}

.btn-small {
  font-size: 0.8em;
}

.check {
  text-decoration: none;
  border: none;
  font-size: 1.2em;
  padding: 0.4em;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 0.5em;
}

.articles-wrapper {
  margin: 2em 0;
}

.day-0 {
  opacity: 1;
}

.day-1 {
  opacity: 0.9;
}

.day-2 {
  opacity: 0.8;
}

.day-3 {
  opacity: 0.7;
}

.day-4 {
  opacity: 0.6;
}

.day-5 {
  opacity: 0.5;
}

.day-6 {
  opacity: 0.35;
}

.day-7 {
  opacity: 0.2;
}

// shouldn't be possible, but hey, you never know
.day-8 {
  opacity: 0.1;
}

.card {
  margin-bottom: 2em;
  padding: 1em 1.2em;

  &.card-sm {
    margin-bottom: 1em;
    padding: 0.8em 1em;
  }

  background: white;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 10%, 0.05);
  border-radius: 4px;

  &.card-dimmed {
    background: transparent;
    box-shadow: none;
    border: 1px dashed #7c7c7c;
    color: #7c7c7c;
  }

  &:hover {
    opacity: 1;
  }

  // @media (prefers-color-scheme: dark) {
  //   background-color: #181818;
  // }

  p:last-child {
    margin-bottom: 0;
  }
}

.card-title {
  font-size: 1.3em;
  font-weight: bold;
}

.article-timestamp {
  font-size: 0.8em;
  color: $color-text-light;
}

#above-the-fold {
  min-height: 70vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#hero-image {
  margin-top: 2em;
  max-height: 50vh;
  max-width: 80%;
}

footer {
  font-size: 0.8em;
  color: $color-text-light;
  padding: 1.5em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.lead {
  font-size: 1.3em;
  margin: 0;
}

#nav-logo {
  width: 1.4em;
  position: relative;
  top: 0.3em;
}

code {
  font-family: $font-family-monospace;
  padding: 0.1em 0.2em;
  background: #e8e8e8;
  border-radius: 3px;
}

// @media (prefers-color-scheme: dark) {
//   body {
//     background: #000000;
//     color: #cccccc;
//   }
// 
//   code {
//     background: #303030;
//   }
// 
//   .btn,
//   button,
//   input[type="submit"] {
//     background: #303030;
//     border: 1px solid #404040;
//     color: #979797;
//     &:hover {
//       background-color: darken(#303030, 5);
//     }
//   }
// 
//   .account-number {
//     background: #352e26;
//     border-radius: 3px;
//     border: 3px dashed #574d42;
//     color: #b3a18d;
//   }
// 
//   hr {
//     background: #404040;
//   }
// }

.testimonial {
  max-width: 30em;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  p:first-child {
    margin-top: 0;
  }
}

.testimonial-img {
  border-radius: 100%;
  width: 40px;
  vertical-align: middle;
  margin-right: 0.3em;
}

.testimonial-name {
  vertical-align: middle;
  font-size: 0.9em;
}

#subscription-form__stripe {
  margin: 0.5em 0 0.7em;
  padding: 0.5em;
  background: #f7f7f7;
  border-radius: 4px;
}